

/*text related stuff*/

@font-face {
    font-family: 'playright';
    src: url(fonts/PlayfairDisplay-Regular.ttf);
}
  .section-box {
    max-width: 80%;
    display: block;
    background-color:#5a5a5a;
    border-style: groove;
    border-color: #000000;
    border-width: 5px;
    font-family: 'playright';
    padding: 25px;
    padding-bottom: 50px;
    margin: 0 auto;
    margin-bottom: 50px;
    overflow: auto;
  }

  .section-box {
    max-width: 80%;
     display: block;
     background-color:#fffdfd;
     border-style: groove;
     border-color: #000000;
     border-width: 5px;
     font-family: 'playright';
     padding: 10px;
     padding-bottom: 10px;
     margin: 0 auto;
     margin-bottom: 10x;
     overflow: auto;
}

@font-face {
    font-family: 'playright';
    src: url(fonts/PlayfairDisplay-Regular.ttf);
}
h1 {
     max-width: fit-content;
     font-size: 3rem;
     margin: 25px auto;
     margin-bottom: 50px;
     font-family: 'playright';
}
h2 {
    max-width: fit-content;
     font-size: 3rem;
     margin: 25px auto;
     margin-bottom: 50px;
     font-family: 'playright';
}
img {
    float: right;
    
}
/*numbered questions*/
li {
    font-family: 'playirght';
    font-size: large;
    color: black;
}
/*answers*/
ol{
    font-family: 'playright';
    font-size: large;
    color: rgb(66, 65, 65);
}

body {
    background-color: rgb(255, 255, 255);
}
</style>


/*links*/
/*unvisted*/
a:link {
    color:blue
}
/*hover*/
a:hover {
    color:red
}
/*when link is clicked*/
a:active {
    color:blue
}
/*link is visited*/
a:visited {
    color:lightblue
}
.flex-container-example {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }